<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="header">
    <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed " style="position: absolute;top: 10px;right: 0px;"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color:#fff"></span>
                <span class="icon-bar" style="background-color:#fff"></span>
                <span class="icon-bar" style="background-color:#fff"></span>
            </button>
            <div class="logo">
                <span>Sapiens Environmental IoT Network Cloud (SEIN)<br/>环境物联网云平台</span>
            </div>
        </div>
        <div class="collapse navbar-collapse collapse_list" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right menu">
                <li>
                    <a href="javascript:changeLanguage()">中/Eng</a>
                </li>
                <li><a th:href="@{/list/devices}" th:text="#{LIST}">列表</a></li>
                <li><a th:href="@{/compare/devices}" th:text="#{COMPARE}">比较</a></li>
                <li class="map_btn"><a th:href="@{/table/devices}" th:text="#{DETAILDATA}">数据</a></li>
                <li class="map_btn"><a  th:href="@{/map/devices}" th:text="#{MAP}">地图</a></li>
                <li><a th:href="@{/manage/devices}" th:text="#{MANAGE}">管理</a></li>
                <li><a th:href="@{/account/logout}" th:text="#{LOGOUT}">注销</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>