<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加设备页面</title>
    <link th:href="@{/background/plugin/layui/css/layui.css}" href="../../static/background/plugin/layui/css/layui.css"
          rel="stylesheet"/>

    <style>
        .layui-form-selected dl {
            z-index: 1000;
        }
    </style>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>设备信息维护</legend>
</fieldset>

<form class="layui-form" action="" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">设备别名</label>
        <div class="layui-input-inline">
            <input type="text" name="cityName" lay-verify="required" autocomplete="off"
                   class="layui-input" th:value="${device}==null?'':${device.cityName}"/>
            <input type="hidden" name="id" th:value="${device}==null?'':${device.id}"/>
        </div>
    </div>
    <div class="layui-form-item ">
        <label class="layui-form-label">浓度表</label>
        <div class="layui-input-inline">
            <input type="text" name="pollutantTable" lay-verify="required" autocomplete="off" class="layui-input"
                   th:value="${device}==null?'':${device.pollutantTable}">
        </div>
    </div>
    <div class="layui-form-item ">
        <label class="layui-form-label">经纬度</label>
        <div class="layui-input-inline">
            <input type="text" name="longitude" lay-verify="required" autocomplete="off" class="layui-input"
                   th:value="${device}==null?'114.16988':${device.longitude}">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="latitude" lay-verify="required" autocomplete="off" class="layui-input"
                   th:value="${device}==null?'22.33337':${device.latitude}">
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">添加图片</label>
        <div class="layui-input-inline">
            <input type="file" name="file" class="layui-upload-file" lay-title="添加一个的图片">
        </div>
        <div class="layui-input-inline">
            <img width="70"  id="picture"
                 th:src="${device}==null?'/SEIN/images/img1.jpg':${device.picture}">
            <input type="hidden" name="picture" id="pictureValue" th:value="${device}==null?'/SEIN/images/img1.jpg':${device.picture}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="submit" lay-submit="" lay-filter="submitDevice" >立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!-- layui.js -->
<script th:src="@{/background/plugin/layui/layui.js}" src="../../static/background/plugin/layui/layui.js"></script>
<script th:inline="javascript" type="text/javascript">
    //实例化编辑器


    layui.define(['form', 'upload', 'layer'], function (exports) {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form();
        layui.upload({
            url: 'uploadPicture' //上传接口
            ,before: function () {
                layer.msg('上传中...', {
                    icon: 16
                    ,shade: 0.4,
                    time: 30000
                });
            }
            , success: function (result) { //上传成功后的回调
                if (result.success) {
                    layer.alert('上传成功!', {
                        closeBtn: 0,
                        icon: 1
                    });
                    document.getElementById("picture").src = result.data;
                    document.getElementById("pictureValue").value = result.data;
                } else {
                    layer.alert(result.msg, {icon: 5});
                }
            }
        });
        //监听登陆提交
        form.on('submit(submitDevice)', function (data) {
            $.ajax({
                url:"device/manage",
                type:"POST",
                data:{
                    id:data.field.id,
                    cityName:data.field.cityName,
                    pollutantTable:data.field.pollutantTable,
                    longitude:data.field.longitude,
                    latitude:data.field.latitude,
                    picture:data.field.picture
                },
                success:function (result) {
                    if(result.success){
                        layer.alert(result.data, { icon: 1 },function(){
                            window.location.href = "deviceManage";
                        });
                    }else{
                        layer.alert(result.msg, {icon: 5});
                    }
                }
            });
            return false;
        });
        //输出接口，主要是两个函数，一个删除一个编辑
        var datalist = {

        };
        exports('datalist', datalist);
    });


</script>
</body>
</html>