<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>数据列表页面</title>
    <!-- layui.css -->
    <link th:href="@{/background/plugin/layui/css/layui.css}" href="../../static/background/plugin/layui/css/layui.css" rel="stylesheet" />
    <style>

        tr td:not(:nth-child(0)),
        tr th:not(:nth-child(0)) {
            text-align: center;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            -o-text-overflow:ellipsis;
            -icab-text-overflow: ellipsis;
            -khtml-text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
        }

        #dataConsole {
            text-align: center;
        }
        /*分页页容量样式*/
        /*可选*/
        .layui-laypage {
            display: block;
        }

            /*可选*/
            .layui-laypage > * {
                float: left;
            }
            /*可选*/
            .layui-laypage .laypage-extend-pagesize {
                float: right;
            }
            /*可选*/
            .layui-laypage:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

            /*必须*/
            .layui-laypage .laypage-extend-pagesize {
                height: 30px;
                line-height: 30px;
                margin: 0px;
                border: none;
                font-weight: 400;
            }
        /*分页页容量样式END*/
    </style>
</head>
<body>
    <div class="layui-field-box" style="text-align: center">
    <div id="articleIndexTop">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="margin:0;margin-top:15px;">
                <div class="layui-inline">
                    <label class="layui-form-label">项目</label>
                    <div class="layui-input-inline">
                        <select name="project">
                            <option value="0">请选择项目</option>
                            <option value="1"  th:each="project:${projectList}" th:value="${project}" th:text="${project}">类别1</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width:auto">
                        <button class="layui-btn" lay-submit lay-filter="select">选择</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <fieldset id="dataList" class="layui-elem-field layui-field-title sys-list-field" style="display:none;">
        <legend style="text-align:center;">设备信息列表</legend>
        <div class="layui-field-box layui-form">
            <div id="dataContent" class="">
                <!--内容区域 ajax获取-->
            </div>
            <div id="pageNav"></div>
        </div>
    </fieldset>
    <!-- layui.js -->
    <script th:src="@{/background/plugin/layui/layui.js}" src="../../static/background/plugin/layui/layui.js"></script>
    <!-- layui规范化用法 -->
    <script type="text/javascript" th:inline="javascript">
        layui.define(['element','laypage', 'layer', 'form' ,'laydate'], function (exports) {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form();
            var laypage = layui.laypage;
            var element = layui.element();
            var laypageId = 'pageNav';
            var laydate = layui.laydate;

            form.on('submit(select)', function(data) {
                if(data.field.project==0){
                    return false;
                }
                var index = layer.load(1);

                layer.close(index);
                initilData(1, 10,data.field.project);
                return false;
            });
            form.on('submit(updateEquation)', function(data) {
                $.ajax({
                    url:"equation",
                    type:"PUT",
                    data:{
                        "item" : data.field.item,
                        "project" : data.field.project,
                        "deviceName" : data.field.deviceName,
                        "code" : data.field.code,
                        "a" : data.field.a,
                        "b" : data.field.b,
                        "c" : data.field.c,
                        "d" : data.field.d,
                        "e" : data.field.e,
                        "f" : data.field.f,
                        "i" : data.field.i,
                        "startTime" : data.field.startTime,
                        "endTime" : data.field.endTime,
                        "recorder" : data.field.recorder,
                        "remark" : data.field.remark
                    },
                    success:function (result) {
                        if(result.success){
                            initilData(1, 10,data.field.project);
                            layer.closeAll();
                        }

                    }
                });
                return false;
            });




//            initilData(1, 10);
            //页数据初始化
            //currentIndex：当前页面
            //pageSize：页容量（每页显示的条数）
            function initilData(currentIndex, pageSize,project) {
                var index = layer.load(1);
                //模拟数据加载
                setTimeout(function () {
                    layer.close(index);
                    $.ajax({
                        url:"equation/list/"+currentIndex,
                        type:"GET",
                        data:{
                            pageSize:pageSize,
                            project:project
                        },
                        success:function(result){
                            var equationNum=result.total;
                            var equationList=result.rows;
                            var html = '';
                            html += '<table style="table-layout: fixed" class="layui-table" lay-even>';
                            html += '<colgroup><col width="13"><col width="35"><col width="15"><col width="25"><col width="20"><col width="20"><col width="20"><col width="20"><col width="20"><col width="20"><col width="20"><col width="15"><col width="15"><col width="15"></colgroup>';
                            html += '<thead><tr><th>编号</th><th>设备名</th><th>浓度</th><th>浓度Code</th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>i</th><th colspan="3">操作</th></tr></thead>';
                            html += '<tbody>';
                            for(var i in equationList){
                                var item=equationList[i];
                                html+='<tr>';
                                html+='<td>'+item.item+'</td>';
                                html+='<td>'+item.deviceName+'</td>';
                                html+='<td>'+item.type+'</td>';
                                html+='<td>'+item.code+'</td>';
                                html+='<td>'+item.a+'</td>';
                                html+='<td>'+item.b+'</td>';
                                html+='<td>'+item.c+'</td>';
                                html+='<td>'+item.d+'</td>';
                                html+='<td>'+item.e+'</td>';
                                html+='<td>'+item.f+'</td>';
                                html+='<td>'+item.i+'</td>';
                                html+='<td><button class="layui-btn layui-btn-small layui-btn-normal" onclick=\'layui.datalist.editData('+JSON.stringify(item)+',\"'+project+'\")\'><i class="layui-icon">&#xe642;</i></button></td>';
                                html+='<td><button class="layui-btn layui-btn-small layui-btn-danger" onclick="layui.datalist.deleteData('+item.item+',\''+project+'\')"><i class="layui-icon">&#xe640;</i></button></td>';
                                html+='<td><button class="layui-btn layui-btn-small " >Run</button></td>';
                                html+='</tr>';
                            }
                            html+='</tbody></table>';
                            $('#dataContent').html(html);
                            $('#dataConsole,#dataList').attr('style', 'display:block'); //显示FiledBox
                            element.init();
                            laypage({
                                cont: laypageId,
                                pages: equationNum%pageSize==0?equationNum/pageSize:equationNum/pageSize+1,
                                groups: 5,
                                skip: true,
                                curr: currentIndex,
                                jump: function (obj, first) {
                                    var currentIndex = obj.curr;
                                    if (!first) {
                                        initilData(currentIndex, pageSize,project);
                                    }
                                }
                            });

                        }
                    });


                }, 500);
            }

            //输出接口，主要是两个函数，一个删除一个编辑
            var datalist = {
                deleteData: function (item,project) {
                    layer.confirm('确定删除这条信息吗？', {
                        btn: ['确定', '取消'] //按钮
                    }, function () {
                        $.ajax({
                            url:'equation/'+item+"/"+project,
                            data:{
                            },
                            type:'DELETE',
                            success:function (result) {
                                if(result.success){
                                    initilData(1, 10,project);
                                    layer.closeAll();
                                }else{
                                    layer.alert(result.msg, {icon: 5});
                                }
                            }
                        });
                    }, function () {

                    });
                },
                editData: function (item,project) {
                    var html='';
                    html+='<form class="layui-form layui-form-pane" action="" method="post">';
                    html+='<div style="margin: 20px 0">';
                    html+='<input type="hidden" name="item" value="'+item.item+'" />';
                    html+='<input type="hidden" name="project" value="'+project+'" />';
                    html+='<label class="layui-form-label" style="border: none" >设备名:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="deviceName"  class="layui-input" value="'+item.deviceName+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >浓度Code:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="code"  class="layui-input" value="'+item.code+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >a:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="a"  class="layui-input" value="'+item.a+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >b:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="b"  class="layui-input" value="'+item.b+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >c:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="c"  class="layui-input" value="'+item.c+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >d:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="d"  class="layui-input" value="'+item.d+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >e:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="e"  class="layui-input" value="'+item.e+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >f:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="f"  class="layui-input" value="'+item.f+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >i:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="i"  class="layui-input" value="'+item.i+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >起始时间:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="startTime" onclick="layui.laydate({elem: this, istime: true, format: \'YYYY-MM-DD hh:mm:ss\'})"  class="layui-input" value="'+(item.startTime==null?"":item.startTime)+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >结束时间:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="endTime" onclick="layui.laydate({elem: this, istime: true, format: \'YYYY-MM-DD hh:mm:ss\'})"  class="layui-input" value="'+(item.endTime==null?"":item.endTime)+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >记录人:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="recorder"  class="layui-input" value="'+item.recorder+'">';
                    html+='</div>';
                    html+='<div style="margin: 20px 0">';
                    html+='<label class="layui-form-label" style="border: none"  >备注:</label>';
                    html+='<input  style="width:60%;color: #000!important;" lay-verify="required" name="remark"  class="layui-input" value="'+item.remark+'">';
                    html+='</div>';
                    html+='<div class="layui-form-item">';
                    html+='<div class="layui-input-inline" style="margin:10px auto 0 auto;display: block;float: none;">';
                    html+='<button class="layui-btn" id="submit"  lay-submit="" lay-filter="updateEquation">修改</button>';
                    html+='<button type="reset" class="layui-btn layui-btn-primary">重置</button>';
                    html+='</div>';
                    html+='</div>';
                    html+='</form>';
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: '520px', //宽高
                        title:'修改公式参数',
                        content: html
                    });
                    form.render('radio');  //radio，编辑和添加的时候
                },


            };
            exports('datalist', datalist);
        });

    </script>
</body>
</html>