<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sein.dao.sensor.EquationDAO">
  <resultMap id="BaseResultMap" type="com.sein.pojo.po.Equation">
    <result column="Item" jdbcType="INTEGER" property="item" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="startTime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endTime" />
    <result column="a" jdbcType="REAL" property="a" />
    <result column="b" jdbcType="REAL" property="b" />
    <result column="c" jdbcType="REAL" property="c" />
    <result column="d" jdbcType="REAL" property="d" />
    <result column="e" jdbcType="REAL" property="e" />
    <result column="f" jdbcType="REAL" property="f" />
    <result column="i" jdbcType="REAL" property="i" />
    <result column="a_1" jdbcType="REAL" property="a_1" />
    <result column="Validity" jdbcType="REAL" property="validity" />
    <result column="Recorder" jdbcType="VARCHAR" property="recorder" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="DeviceName" jdbcType="VARCHAR" property="deviceName" />
  </resultMap>

  <select id="getTableNameList" resultType="String">
    SELECT DISTINCT TABLE_NAME FROM information_schema.columns WHERE  table_schema ='sensor_info';
  </select>

  <select id="listEquation" resultMap="BaseResultMap" parameterType="Map" statementType="STATEMENT">
    SELECT * FROM ${projectTable} ORDER BY Item desc
  </select>

  <select id="getPollutantType" resultType="String" parameterType="String">
    SELECT Type FROM sensor_basic WHERE Code=#{code}
  </select>
  
  <update id="updateEquation" parameterType="com.sein.pojo.po.Equation" statementType="STATEMENT">
    update ${project}
    <set >
      <if test="code != null" >
        Code = '${code}',
      </if>
      <if test="startTime != null" >
        StartTime = '${startTime}',
      </if>
      <if test="endTime != null" >
        EndTime = '${endTime}',
      </if>
      <if test="a != null" >
        a = ${a},
      </if>
      <if test="b != null" >
        b = ${b},
      </if>
      <if test="c != null" >
        c = ${c},
      </if>
      <if test="d != null" >
        d = ${d},
      </if>
      <if test="e != null" >
        e = ${e},
      </if>
      <if test="f != null" >
        f = ${f},
      </if>
      <if test="i != null" >
        i = ${i},
      </if>
      <if test="a_1 != null" >
        a_1 = ${a_1},
      </if>
      <if test="validity != null" >
        Validity = ${validity},
      </if>
      <if test="recorder != null" >
        Recorder = '${recorder}',
      </if>
      <if test="remark != null" >
        Remark = '${remark}',
      </if>
      <if test="deviceName != null" >
        DeviceName = '${deviceName}',
      </if>
    </set>
    <where>
        Item = ${item}
    </where>
  </update>

  <delete id="deleteEquation" statementType="STATEMENT">
    DELETE FROM ${projectTable} WHERE Item=${item}
  </delete>

  <insert id="addEquation" parameterType="com.sein.pojo.po.Equation" statementType="STATEMENT">
      insert into ${project}
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="item != null" >
          Item,
        </if>
        <if test="code != null" >
          Code,
        </if>
        <if test="startTime != null" >
          StartTime,
        </if>
        <if test="endTime != null" >
          EndTime,
        </if>
        <if test="a != null" >
          a,
        </if>
        <if test="b != null" >
          b,
        </if>
        <if test="c != null" >
          c,
        </if>
        <if test="d != null" >
          d,
        </if>
        <if test="e != null" >
          e,
        </if>
        <if test="f != null" >
          f,
        </if>
        <if test="i != null" >
          i,
        </if>
        <if test="a_1 != null" >
          a_1,
        </if>
        <if test="validity != null" >
          Validity,
        </if>
        <if test="recorder != null" >
          Recorder,
        </if>
        <if test="remark != null" >
          Remark,
        </if>
        <if test="deviceName != null" >
          DeviceName,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="item != null" >
          ${item},
        </if>
        <if test="code != null" >
          '${code}',
        </if>
        <if test="startTime != null" >
          '${startTime}',
        </if>
        <if test="endTime != null" >
          '${endTime}',
        </if>
        <if test="a != null" >
          ${a},
        </if>
        <if test="b != null" >
          ${b},
        </if>
        <if test="c != null" >
          ${c},
        </if>
        <if test="d != null" >
          ${d},
        </if>
        <if test="e != null" >
          ${e},
        </if>
        <if test="f != null" >
          ${f},
        </if>
        <if test="i != null" >
          ${i},
        </if>
        <if test="a_1 != null" >
          ${a_1},
        </if>
        <if test="validity != null" >
          ${validity},
        </if>
        <if test="recorder != null" >
          '${recorder}',
        </if>
        <if test="remark != null" >
          '${remark}',
        </if>
        <if test="deviceName != null" >
          '${deviceName}',
        </if>
      </trim>
  </insert>

  <update id="createProject" parameterType="String" statementType="STATEMENT">
  CREATE TABLE `${projectTable}` (
  `Item` INT(11) DEFAULT NULL AUTO_INCREMENT,
  `Code` VARCHAR(50) DEFAULT NULL,
  `StartTime` DATETIME DEFAULT NULL,
  `EndTime` DATETIME DEFAULT NULL,
  `a` FLOAT DEFAULT NULL,
  `b` FLOAT DEFAULT NULL,
  `c` FLOAT DEFAULT NULL,
  `d` FLOAT DEFAULT NULL,
  `e` FLOAT DEFAULT NULL,
  `f` FLOAT DEFAULT NULL,
  `i` FLOAT DEFAULT NULL,
  `a_1` FLOAT DEFAULT NULL,
  `Validity` FLOAT DEFAULT NULL,
  `Recorder` VARCHAR(50) DEFAULT NULL,
  `Remark` VARCHAR(50) DEFAULT NULL,
  `DeviceName` VARCHAR(50) DEFAULT NULL,
  KEY `Item` (`Item`)
) ENGINE=INNODB DEFAULT CHARSET=utf8
  </update>

</mapper>