<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.sein.dao.sein.DeviceDAO">
    <resultMap id="deviceResultMap" type="com.sein.pojo.po.Device" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="cityName" property="cityName" jdbcType="VARCHAR" />
        <result column="longitude" property="longitude" jdbcType="DOUBLE" />
        <result column="latitude" property="latitude" jdbcType="DOUBLE" />
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <result column="pollutantTable" property="pollutantTable" jdbcType="VARCHAR" />
        <result column="accountId" property="accountId" jdbcType="INTEGER" />
        <association column="accountId" property="account" select="com.sein.dao.sein.AccountDAO.getAccountById" />
    </resultMap>


    <select id="listDeviceWithAccount" resultMap="deviceResultMap" parameterType="Map">
        SELECT * from device
        <where>
            <if test="accountId!=null">
                and accountId=#{account}
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>